{% extends 'pages/profile.html' %}
{% load staticfiles %}
{% load i18n %}

{% block profile_extra_header %}
{% endblock %}

{% block profile_detail %}
    <div id="tradeUrl-body" class="row tradeUrl_body" style="text-align: center; min-height: 300px; background-color: rgba(25, 25, 25, 1);">
        <div class="">
            <div class="panel panel-default col-xs-10 col-xs-offset-1" style="border:none; margin-top: 80px;">
                <div class="panel-body">
                    {% for msg in messages %}
                        <div class="alert alert-success" role="alert">{{ msg }}</div>
                    {% endfor %}
                    {% for err in form.tradeUrl.errors %}
                        <div class="alert alert-danger" role="alert">{{ err|escape }}</div>
                    {% endfor %}
                    <form action="" method="post" id="form" class="form-horizontal">
                    {% csrf_token %}
                        <div class="form-group">
                            <div class="col-sm-3 col-md-2 control-label">
                                <label for="tradeUrl">{% trans 'Trade URL:' %}</label>
                            </div>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                      <button class="btn btn-default " type="button"  onclick="window.open('{{ user.profileurl }}tradeoffers/privacy#trade_offer_access_url', '_blank'); return false;"><i class="fa fa-check "></i></button>
                                    </span>
                                    {{ form.tradeUrl }}
                                </div>
                                <p class="form-description text-right"><a href="{{ user.profileurl }}tradeoffers/privacy#trade_offer_access_url" target="_blank" style="color:red">{% trans 'Find your Trade URL here' %}</a></p>
                            </div>
                            <div class="col-sm-1"><input type="submit" name="form" class="btn btn-info" value="{% trans 'Edit profile' %}" onclick="document.getElementById('form').submit();"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
    $(function () {
        $('#tradeUrl').addClass('active');
        $('#tradeUrl a').addClass('nav-selected');
    })
</script>
{% endblock %}