{% extends 'page_base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block extra_header %}
    <link rel="stylesheet" href="{% static 'css/news.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/home.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/announcement.css' %}"/>
    <script src="{% static 'backup/home.js' %}"></script>
{% endblock %}

{% block page_content %}
    {% get_current_language as LANGUAGE_CODE %}
    <div id="index-wrapper" class="backgroundImg container-fluid srb-content-wrapper">
        <div class="row">
            <div class="col-lg-10 col-lg-push-1">
                <div class="row">
                    {% include 'common/announcement.html' %}
                    <div class="col-md-8 col-lg-9" style="">
                        <div class="ad">
                        {% if carousels %}
                            <div id="myCarousel" class="carousel slide">
                                <!-- 轮播（Carousel）指标 -->
                                <ol class="carousel-indicators" style="bottom: 0px;">
                                    {% for carousel in carousels %}
                                        <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}" {% if forloop.counter0 == 0 %}class="active"{% endif %}></li>
                                    {% endfor %}
                                </ol>
                                <!-- 轮播（Carousel）项目 -->
                                <div class="carousel-inner">
                                    {% for carousel in carousels %}
                                        <div class="item {% if forloop.counter0 == 0 %}active{% endif %}">
                                            <a href="{{ carousel.href }}">
                                                <img class="carousel-img img-responsive" style="width: 100%;" src="{{ carousel.pic.url }}">
                                                {% if carousel.description %}
                                                <div class="carousel-caption" style="bottom:0; left: 0; right: 0; padding-left: 20px; background-color: rgba(25, 25, 25, 0.5); text-align: left;">{{ carousel.description }}</div>
                                                {% endif %}
                                            </a>
                                        </div>
                                    {% endfor %}
                                </div>
                                <!-- 轮播（Carousel）导航 -->
                                <a class="carousel-control left" href="#myCarousel"
                                    data-slide="prev"></a>
                                <a class="carousel-control right" href="#myCarousel"
                                    data-slide="next"></a>
                            </div>
                        {% endif %}
                        </div>
                        <div class="video">
                            <div class="" style="background-color: rgba(25, 25, 25, 1); margin-top: 10px;">
                                <ul class="nav nav-tabs">
                                  <li style="font-weight: bold; color: white; padding: 5px 15px;"><i class="fa fa-list-ul"></i> {% trans 'Video' %}</li>
                                </ul>
                            </div>
                            <div class="row" style="background-color: rgba(25, 25, 25, 1); padding-top: 10px; margin-right: 0px; margin-left: 0px;">
                                <div class="video-info col-xs-6 col-sm-3" style="display: block; padding: 0px;" v-for="room in rooms" :key="room.room_id" :data-roomid="room.room_id">
                                    <div class="col-xs-12 video-pic">
                                        <a :href="{% url 'video_list' %} + room.room_type + '/' + room.room_id">
                                            <img :src="room.room_thumb" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="col-xs-12">
                                        <a :href="room.room_type + '/' + room.room_id">
                                            <span class="video-title col-xs-offset-2 col-xs-10" style="font-weight:bold; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;" :title="room.room_name">^{ room.room_name }</span>
                                        </a>
                                    </div>
                                    <div class="col-xs-8"><p class="video-owner" style="font-size:14px; color:gray; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;"><i class="fa fa-user"></i><span> ^{ room.owner_name }</span></p></div>
                                    <div class="col-xs-4"><p class="video-fans pull-right" style="font-size:14px; color:gray; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;"><i class="fa fa-eye"></i><span> ^{ room.online }</span></p></div>
                                    <div class="video-avatar">
                                        <a :href="room.room_type + '/' + room.room_id">
                                            <img class="" :src="room.avatar" style="width: 60px; height: 60px;position: absolute; left: 15px; bottom: 20%; -webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="news">
                            <div class="" style="background-color: rgba(25, 25, 25, 1); margin-top: 10px;">
                                <ul class="nav nav-tabs">
                                  <li style="font-weight: bold; color: white; padding: 5px 15px;"><i class="fa fa-list-ul"></i> {% trans 'News' %}</li>
                                </ul>
                            </div>
                            <div class="news-lists">
                                <ul class="article-lists">
                                    {% for news in news_list %}
                                    <li class="row article-list">
                                        <div class="col-xs-2 article-pic">
                                            <a href="{{ news.get_absolute_url }}">
                                                <img src="{{ news.pic.url }}" class="img-responsive" style="width: 100%;">
                                            </a>
                                        </div>
                                        <div class="col-md-10">
                                            <a href="{{ news.get_absolute_url }}"><span class="article-title">{{ news.title }}</span></a>
                                            <p class="article-content-overview" style="font-size: 14px; margin-top: 10px;">
                                                {% autoescape off %}
                                                    {{ news.summary|truncatechars_html:100 }}
                                                {% endautoescape %}
                                            </p>
                                            <p class="article-content-overview" style="font-size: 14px;">
                                                <span>{% trans 'author: ' %}{{ news.author }}</span><span style="padding-left: 30px">{% trans 'publish in: ' %}{{ news.published_time }}</span><span style="padding-left: 30px">{% trans 'views: ' %}{{ news.views }}</span></p>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div id="ranking_list" class="col-md-4 col-lg-3">
                        <table class="coinflip-pots table" style="border-top: none; min-width: 250px;">
                            <tbody>
                                <tr>
                                    <td colspan="4" style="text-align:center; background-color: black; font-weight: bold; font-size: 14px; padding: 0;">
                                        <div id="winList" class="col-xs-6 list-type" style="padding-top: 10px; padding-bottom: 10px;"><a href="javascript:void(0);" @click="winList">{% trans 'Week Winnings' %}</a></div>
                                        <div id="loseList" class="col-xs-6 list-type" style="padding-top: 10px; padding-bottom: 10px;"><a href="javascript:void(0);" @click="loseList">{% trans 'Week Losts' %}</a></div>
                                    </td>
                                </tr>
                                <tr :class="'loop-' + (index+1)" v-for="(list, index) in ranking_list" :key="list['user']['steamid']"  v-if="showContent">
                                    <td style="text-align: center; width: 46px;">
                                        <div style="height: 30px; width: 30px; border: 2px solid; border-radius: 50%; padding: 3px;">
                                            <img src="{% static 'img/crown.png' %}" v-if="!index"><div v-else>^{ index+1 }</div>
                                        </div>
                                    </td>
                                    <td style="text-align: center; width: 46px;">
                                        <img style="height: 45px; width: 45px; border-radius: 50%;" :src="list['user']['icon_medium']" v-if="list['user']['icon_medium']">
                                    </td>
                                    <td>^{ list['user']['name'] }</td>
                                    <td style="text-align: right; padding-right: 20px;">
                                        <span v-if="list['income'] !== ''"><span v-if="list['income'] > 0">+</span>^{ list['income'].toFixed(2) }$</span><br>
                                        <span v-if="list['wpct'] !== ''">^{ list['wpct'].toFixed(2) }% win</span><br v-else>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(function(){
            $("#myCarousel").carousel('cycle');
        });
    </script>
{% endblock %}