{% load staticfiles %}
{% load i18n %}

<div id="chat" class="col-xs-12 col-sm-4 col-md-3">
    <div id="chat-wrapper">
        <div class="users-online">
            <span class="users-online-value">0</span> online
            <i class="fa fa-ellipsis-v"></i>
            <button id="mChatRules" class="btn btn-primary">{% trans 'chat rules' %}</button>
        </div>
        <div id="messages-wrapper">
            <ul id="messages">
                <chat-item v-for="item in items" :item="item" :key="item.id"></chat-item>
            </ul>
        </div>
        <div class="chat-buttons">
            <input id="chat_msg" autocomplete="off" placeholder="type your msg here..">
            <div class="btn-group dropup pull-right">
                {% if request.user.is_anonymous %}
                    <a class="btn btn-info" href="{% url 'social:begin' 'steam' %}">Send</a>
                {% else %}
                    <button id="pushChatMsg" class="btn btn-info">Send</button>
                {% endif %}
                <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-smile-o"></i> <span class="caret"></span>
                </button>
                <ul id="smile-wrapper" class="dropdown-menu">
                    {% for s in chat_smiles %}
                        <img src="{{ s.url }}" data-code="{{ s.code }}" class="chat-smile"
                             style="width:25px;height:25px"/>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="ranks">
            <div class="rank-header">
                <span class="title">{% trans 'Ranks' %}</span>
            </div>
            <div class="rank-body">
                <ul class="rank-items">
                    {% for rank in ranks %}
                        <li class="rank-item">
                            <div class="rank-data">
                                <span class="num">{{ forloop.counter }}</span>
                                <img src="{{ rank.steamer.avatar }}" alt="" rel="nofollow">
                                <span class="name">{{ rank.steamer.personaname }}</span>
                                <span class="amount"><i class="fa fa-usd"></i> {{ rank.amount }}</span>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>