{% load staticfiles %}
{% load i18n %}

<footer>
    <div class="col-md-12 col-xs-12">
        <div class="footer-top-line"></div>
        <div class="container">
            <div class="footer-body">
                <div class="footer-logo">
                    <img src="{% static 'img/logo_light.png' %}">
                </div>
                <div class="footer-contact">
                    {#              <a class="con-item " href="{% url 'provably_fair' %}"><span>{% trans 'Provably Fair' %}</span></a>#}
                    {#              <a class="con-item " target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=ea73ac27d35f1a4cb9712fda8f0a1a9c59f7bab202d3436dd5cba1976d489e02">#}
                    {#                <i class="fa fa-qq" style="color:#5ad3d1;"></i> <span class="hidden-sm"><b>{% trans 'Custom Service' %}</b></span></a>#}
                    <span class="footer-span-item"><a target="_blank"
                                                         href="{% url 'get_started_view' %}">{% trans 'Get started' %}</a>
                    <span class="footer-span-item">{% trans 'Links' %}  <a target="_blank"
                                                         href="https://www.5uskins.com">{% trans '5uskins' %}</a>
                    </span>
                    <span class="footer-span-item">Power by steam </span>
                    <span class="footer-span-item bot-status">{% trans 'Steambot Status:' %}
                        {% if steam_bot %}
                            <span id="steambotStatus" class="steambotOn">on</span>
                        {% else %}
                            <span id="steambotStatus" class="steambotOff">off</span>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
</footer>
