{% load staticfiles %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}
<nav class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
            <img id="logo" src="{% static 'img/logo_light.png' %}" alt="CSGO" class="hidden-sm hidden-md">
        </a>
    </div>

    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-menu">
            <li><a href="{% url 'coinflip' %}"><i class="fa fa-circle" style="color:#5ad3d1;"></i> <span class="hidden-sm"><b>{% trans 'Coinflip' %}</b></span></a>
            </li>
            <li><a href="{% url 'jackpot' %}"><i class="fa fa-circle-o-notch" style="color:#5ad3d1;"></i> <span class="hidden-sm"><b>{% trans 'Jackpot' %}</b></span></a>
            </li>
            <li><a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=ea73ac27d35f1a4cb9712fda8f0a1a9c59f7bab202d3436dd5cba1976d489e02">
                <i class="fa fa-qq" style="color:#5ad3d1;"></i> <span class="hidden-sm"><b>{% trans 'Custom Service' %}</b></span></a></li>
        </ul>
    {% if not maintenance %}
        <div id="steam-login" class="pull-right">
            <div class="lang">
                <div class="lang-select active dropdown">
                    <div class="dropdown-toggle" id="lang_drop" data-toggle="dropdown" role="button">
                        {% if LANGUAGE_CODE == 'zh-hant' %}
                            <div id="lang_drop_flag" class="flag flag-zh-cn"></div>
                        {% else %}
                            <div id="lang_drop_flag" class="flag flag-en-us"></div>
                        {% endif %}
                        <span class="caret"></span>
                    </div>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="lang_drop">
                        <li role="presentation"><div class="flag flag-en-us lang-sel" data-lang="en" data-flag="flag-en-us"></div></li>
                        <li role="presentation"><div class="flag flag-zh-cn lang-sel" data-lang="zh-hant" data-flag="flag-zh-cn"></div></li>
                    </ul>
                </div>
            </div>

            {% if request.user.is_anonymous %}
                <div class="steam-auth pull-right">
                  <a href="{% url 'social:begin' 'steam' %}"><img src="https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_01.png" alt="Login with Steam"></a>
                </div>
            {% else %}

            <ul class="nav navbar-nav">
                <li class="active dropdown">
                    <a href="#" class="dropdown-toggle user-menu" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <img src="{{ request.user.avatar }}" alt="" class="profile"><span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="{% url 'package' %}"><i class="fa fa-pencil"></i>{% trans 'Profile' %}</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'auth:logout' %}"><i class="fa fa-sign-out"></i> {% trans 'Logout' %}</a></li>
                    </ul>
                </li>
            </ul>
            {% endif %}
        </div>
    {% endif %}
    </div>
</nav>

