{% load staticfiles %}
{% load i18n %}

<div style="position: fixed; right: 58px; bottom: 130px; width: 45px; height: 110px; background-color: black;"></div>
<a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=99268742a194f86a9c1427a30149bb0889f8300d23372061029384001a42fc85">
    <img src="{% static 'img/qq_group.png' %}" style="position: fixed; right: 5em; bottom: 15em; z-index: 1000;" data-toggle="tooltip" data-placement="left" data-original-title="{% trans 'QQ Group' %}:654672374" >
</a>

<a target="_blank" href="//wpa.qq.com/msgrd?v=3&uin=251051385&site=qq&menu=yes">
    <img src="{% static 'img/service.png' %}" style="position: fixed; right: 5em; bottom: 12.5em; z-index: 1000;" data-toggle="tooltip" data-placement="left" data-original-title="{% trans 'QQ Custom Service' %}:251051385" >
</a>

<a target="_blank" href="http://steamcommunity.com/groups/dota2fair">
    <img src="{% static 'img/steam.png' %}" style="position: fixed; right: 5em; bottom: 10em; z-index: 1000;" data-toggle="tooltip" data-placement="left" data-original-title="{% trans 'Steam Group' %}" >
</a>