{% extends 'page_base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block extra_header %}
    <title>dalaocsgo-{% trans 'Support' %}</title>
{% endblock %}

{% block page_content %}
    <section id="page">
        <div class="container-wapper">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2" style="">
                    <h1>Support</h1>
                    <p>
                        If you are experiencing missing items or any problems related to the site,
                        feel free to send us a mail: support@dalaocsgo.com.
                    </p>
                </div>
            </div>
        </div>
        <div id="dev"></div>
    </section>
{% endblock %}