{% extends 'page_base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block extra_header %}
    <title>Dota2Fair-{% trans 'Support' %}</title>
{% endblock %}

{% block page_content %}
    <section id="page">
        <div class="container-wapper">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2" style="">
                {% blocktrans %}
                    <h1>Support</h1>
                    <p>
                        If you are experiencing missing items or any problems related to the site,
                        feel free to send us a mail: support@dota2fair.com.
                    </p>

                    <h2>Notice:</h2>
                    <p>
                        Please include your problem in your mail tile(Ex:[missing items]),
                        provide round hash number if you are experiencing missing items or problems related to betting and
                        trading.
                        Be patient about the reply, most likely it would take 24-48 hours.
                    </p>

                    <h2>Business/Advertising Inquiry:</h2>
                    <p>If you are a YouTuber with 5k+ subs, and willing to have paid sponsored video with us.
                        Send us an email at admin@dota2fair.com with your channel link and details about yourself, we are
                        more than welcome to have you to be our partner.</p>

                    <br>
                    <h1>FAQ</h1>
                    <h2>1. Didn't receive your winnings?</h2>
                    <p>A canceled winning offer will be re­sent in no more than 5 minutes.
                        The site will refund an unjoined game in 30 minutes.
                        A winning trade offer will contain the exact same items that were wagered in the round (without
                        taxed items).
                    </p>

                    <h2>2. How much percentage does the house take?</h2>
                    <p>The house cut 0% with “Dota2Fair.com” in steam name, 0~5% without.
                        We will never take more than above mentioned percentages from a game.</p>

                    <h2>3. My bet didn't appear, what should I do?</h2>
                    <p>Our great team refunds items couple times per day. If you didn't receive items in 4 hours, please
                        send us an email.</p>

                    <br>
                    <h2>QQ</h2>
                    <p>At any problem, you could also contact us by using QQ. Join our QQ group: 654672374 or have a live
                        chat with our QQ customer service：251051385. (QQ customer service only support Chinese language)
                    </p>

                {% endblocktrans %}
                </div>
            </div>
        </div>
        <div id="dev"></div>
    </section>
{% endblock %}