
#chat .hide-chat {
    text-align: right;
    cursor: pointer;
    display: none;
}

@media (min-width: 992px) {
    #chat .hide-chat {
        display: block;
    }
}

#chat .users-online {
    text-align: center;
    padding: 5px 0;
    cursor: default;
}

#messages-wrapper {
    position: relative;
    height: 240px;
    background-color: #282828;
    border: 1px dashed #404040;
    border-top: 3px solid #598db2;
}

#chat #messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: white;
    overflow: hidden;
    word-wrap: break-word;
}

#chat #messages li:nth-child(odd) {
    background: #404040;
}

#chat #messages li {
    color: white;
    padding: 5px 10px;
}

#chat #messages li img {
    width: 25px;
    height: auto;
}

@media (min-width: 992px) {
    #messages-wrapper {
        height: 420px;
    }
}

.pull-right {
    float: right;
}

.pull-right {
    float: right !important;
}

#chat button {
    margin: 5px;
}

#smile-wrapper {
    padding: 8px;
}

#chat input#chat_msg, #chat input#chat_msg:active, #chat input#chat_msg:focus {
    border: 1px dashed #ccc;
    padding: 10px;
    width: 60%;
}

.btn-info, .btn-primary {
    color: #fff;
    background-color: #34ad78;
    border-color: #34ad78;
}

.giveaway1 {
    background-color: #fff;
    border: 2px solid #ccc;
    padding-top: 10px;
    text-align: center;
    transition: 1s;
    cursor: default;
    margin-top: 15px;
}

.giveaway1 .title {
    font-size: 12px;
    font-weight: bold;
    background-color: #f5f5f5;
    padding: 10px 5px;
}

#chat input#chat_msg, #chat input#chat_msg:active, #chat input#chat_msg:focus {
    color: white;
    background: #2e2e2e;
}