header, .navbar-default {
    background: #404040;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background: #404040;
}

#jackpot_summary {
    background: #282828;
}