footer {
    font-size: 12px;
    height: 180px;
    width: 100%;
    color: #949494;
    transition: backgroud .5s;
    -webkit-transition: background .5s;
}

footer .footer-top-line {
    margin: 20px auto 10px;
    width: 80%;
    height: 3px;
    background-color: #657899;
}

footer .footer-body {
    margin: 0 auto;
}

footer .footer-body .footer-logo {
    text-align: center;
}

.footer-logo img {
    width: 25%;
}

.footer-body .footer-contact {
    text-align: center;
}

.footer-contact .con-item {
    font-size: 2rem;
    line-height: 3rem;
    height: 3rem;
    padding: 0 2rem;
    color: #949494;
    border-left: 2px solid #949494;
    text-decoration: none;
    cursor: pointer;
}

.footer-contact .con-item:last-child {
    border-right: 2px solid #949494;
}

