.home-page {
}

.home-page .top-body {
    margin: 0 auto;
    padding: 200px 0;
    text-align: center;
}

.home-page .logo-large img {
    width: 50%;
}

.home-page .top-body .slogan {
    color: #f5f5f5;
}

.home-page .top-body .slogan .lang-cn {
    font-size: 3rem;
    line-height: 3rem;
}

.home-page .top-body .slogan .lang-en {
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.home-page .bottom-body {
    height: 400px;
}
