.home-page {
}

.home-page .top-body {
    margin: 0 auto;
    padding: 10rem 0;
    text-align: center;
}

.home-page .logo-large img {
    width: 50%;
}

.home-page .top-body .slogan {
    color: #f5f5f5;
}

.home-page .top-body .slogan .lang-cn {
    font-size: 3rem;
    line-height: 3rem;
}

.home-page .top-body .slogan .lang-en {
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.home-page .bottom-body {
    height: 400px;
    color: #f5f5f5;
}

.home-page .card-item {
    margin-bottom: 40px;
    text-align: center;
}

.home-page .card-item .card-link {
    color: #f5f5f5;
    text-decoration: none;
    cursor: pointer;
}

.home-page .card-item .card-header {
    width: 100%;
    font-size: 3rem;
    text-align: center;
    background: #3a3a3a;
    border-top: 4px solid;
}

.card-item .card-coinflip .card-header {
    border-color: #c75a55;
}

.card-item .card-jackpot .card-header {
    border-color: #376ec5;
}

.card-item .card-panel {
    transition: all .5s ease;
}

.card-item .card-panel:hover {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    /*-moz-box-shadow:2px 2px 5px #333333;*/
    /*-webkit-box-shadow:2px 2px 5px #333333;*/
    /*box-shadow:2px 2px 5px #333333;*/
}

.home-page .card-item .card-body {
    width: 100%;
}

.home-page .card-item .card-body img {
    width: 100%;
}
