.inventory-user {
    min-height: 200px;
}

.inventory-user .item-holder {
    overflow: auto;
    position: relative;
    padding: 5px;
}

.modal-inner h5 {
    font-weight: bold;
    margin-bottom: 8px;
}

#invUser #invRefresh {
    text-shadow: 0 0 5px #ddd;
}

#invUser button.btn-normal {
    background: transparent;
    padding: 0;
    font-size: 13px;
}

#inventoryModal #inventoryMakeOffer .inventory-selected .highlight {
    background-color: #3797b4;
    font-weight: bold;
    padding: 2px 5px;
    color: #fff;
}

#inventoryModal .row-inventory .col-xs-6, #inventoryModal .row-inventory .col-xs-4, #inventoryModal .row-inventory .col-xs-8 {
    padding: 0;
}

#inventoryModal #inventoryMakeOffer .row {
    padding: 0;
}

.row-team img {
    height: 58px;
    width: 58px;
}


#inventoryModal .row-inventory {
    min-height: 70px;
    padding: 0;
}

#invUser .row-header {
    padding: 0 5px;
}

#invUser .row-header .col-xs-6 {
    padding: 0;
}

#invUser .row-header h5 {
    margin-top: 0;
}

#invUser #invRefresh {
    text-shadow: 0 0 5px #ddd;
}

#invUser button.btn-normal {
    background: transparent;
    padding: 0;
    font-size: 13px;
}

#inventoryModal #inventoryMakeOffer .row img.selected {
}

#inventoryModal #inventoryMakeOffer .row img {
    border: 2px solid transparent;
    border-radius: 50px;
    margin: 0 auto;
    cursor: pointer;
    padding: 2px;
}

#inventoryModal #inventoryMakeOffer .row .col-button {
    text-align: center;
}

#inventoryModal #inventoryMakeOffer .row div {
    padding: 0 2px;
}

.fa-lg {
    font-size: 1.33333333em;
    line-height: .75em;
    vertical-align: -15%;
}

#invUser #invRefresh {
    text-shadow: 0 0 5px #ddd;
}

#invUser button.btn-normal {
    background: transparent;
    padding: 0;
    font-size: 13px;
}

.inventory-user .item-holder {
    overflow: auto;
    position: relative;
    padding: 5px
}

.inventory-user .item-holder .col-item {
    border: 3px solid transparent;
    position: relative;
    padding: 0
}

.inventory-user .item-holder .selected {
    border-color: #006789
}

.inventory-user .item-holder .col-item .item {
    background-color: #404040;
    margin: 3px;
    margin-bottom: 20px;
    cursor: pointer;
    min-height: 100px
}

.dark .inventory-user .item-holder .col-item .item {
    background-color: #161616
}

.inventory-user .item-holder .col-item .item img {
    margin: 0 auto
}

.inventory-user .item-holder .col-item .info {
    position: absolute;
    left: 0;
    bottom: 5px;
    text-align: center;
    margin: 3px;
    width: 96%;
    color: #ccc
}

.inventory-user .item-holder .col-item .info .name {
    background: rgba(220, 220, 220, 0.5);
    color: white;
    font-size: 11px;
    min-height: 28px;
    padding: 3px 2px
}

.dark .inventory-user .item-holder .col-item .info .name {
    background: rgba(50, 50, 50, 0.8);
    color: #ccc
}

.inventory-user .item-holder .col-item .info .price {
    margin-bottom: 5px
}

.inventory-user .item-holder .col-item .info .price span {
    background-color: rgba(240, 240, 240, 0.8);
    color: #222;
    font-weight: bold;
    font-size: 12px;
    padding: 2px 4px
}

.dark .inventory-user .item-holder .col-item .info .price span {
    background-color: rgba(40, 40, 40, 0.8);
    color: #ccc
}

.deposit-loading {
    text-align: center;
    padding: 50px 0;
}

.offer-title {
    font-size: 20px;
}

.trade-url {
    color: #3071a9;
    font-size: 25px;
    font-weight: bold;
}

.trade-url-config {
    text-align: center;
    padding: 50px 0;
}

.trade-url-config .tips {
    color: #3071a9;
    font-size: 25px;
    font-weight: bold;
}

#invUser .pagination {
    margin: 0 auto;
    text-align: center;
    padding: 0 0 10px;
    width: 100%;
}

#invUser .pager {
    margin: 0 auto;
    width: 260px;
}

#invUser .pager li a {
    margin: 0 20px;
    width: 80px;
}

#invUser .cfCreateOfferLink {
    display: block;
}

.security-code {
    display: block;
}

#security_code {
    color: #1b8aab;
    font-weight: bold;
}
