#news-nav .nav-tabs li.active a {
    color: white;
    font-weight:bold;
}

#news-wrapper {
    min-height: 1200px;
}

#news-detail-wrapper {
    min-height: 800px;
}

.article-body {
    padding-bottom: 100px;
}

.article-lists {
    list-style-type: none;
    padding: 0;
}

li.article-list {
    margin-right: 0px;
    margin-left: 0px;
    padding: 20px;
    background-color: rgb(25,25,25);
}

li.article-list:nth-child(even) {
    background-color: rgb(30,30,30);
}

.article-title {
    font-weight: bold;
    font-size: large;
}

.article-content-overview {
    color: #b6b6b6;
}

#news-detail-wrapper .article-body h2 {
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.article-content {
    padding: 50px;
}