{% extends 'page_base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load bootstrap_pagination %}

{% block extra_header %}
    <title>fancsgo-{% trans 'News' %}</title>
	<link rel="stylesheet" href="{% static 'css/news.css' %}"/>
{% endblock %}

{% block page_content %}
    {% get_current_language as LANGUAGE_CODE %}
    <div id="news-detail-wrapper" class="row backgroundImg" style="padding-top: 20px; padding-bottom: 20px;">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" style="margin-bottom: 10px;">
            <div id="admin-messages">
                <div class="primary-message_1v1">
                    {% if anno %}
                        <div style="color: #515151;">
                        <img src="{% static 'img/speaker-20.png' %}" style="padding-bottom: 3px;">
                        {% if LANGUAGE_CODE == 'zh-hans' %}
                            <b>{{ anno.content|safe }}</b>
                        {% else %}
                            <b>{{ anno.content_en|safe }}</b>
                        {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="article-body col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <div class="row" style="background-color: rgba(25, 25, 25, 1);">
                <h2 class="text-center">{{ article.title }}</h2>
                <div class="article-info text-center">
                    <span class="article-content-overview">{% trans 'author: ' %}{{ article.author }}</span>
                    <span class="article-content-overview" style="padding-left: 30px">{% trans 'publish in: ' %}{{ article.published_time }}</span>
                    <span class="article-content-overview" style="padding-left: 30px">{% trans 'views: ' %}{{ article.views }}</span>
                </div>
                <div class="article-content" style="margin-top: 30px;background-color: rgb(30,30,30);">
                    {% autoescape off %}
                    {{ article.content_html }}
                    {% endautoescape %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}