{% extends 'page_base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load bootstrap_pagination %}

{% block extra_header %}
{#    <title>Dota2Fair-{% trans 'News' %}</title>#}
	<link rel="stylesheet" href="{% static 'css/news.css' %}"/>
{% endblock %}

{% block page_content %}
    {% get_current_language as LANGUAGE_CODE %}
    <div id="news-wrapper" class="content-wrapper backgroundImg">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" style="margin-bottom: 10px;">
            <div id="admin-messages">
                <div class="primary-message_1v1">
                    {% if anno %}
                        <div style="color: #515151;">
                        <img src="{% static 'img/speaker-20.png' %}" style="padding-bottom: 3px;">
                        {% if LANGUAGE_CODE == 'zh-hans' %}
                            <b>{{ anno.content|safe }}</b>
                        {% else %}
                            <b>{{ anno.content_en|safe }}</b>
                        {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="article-body col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <div class="row" id="news-nav" style="background-color: rgba(25, 25, 25, 1);">
                <ul class="nav nav-tabs">
                  <li role="presentation" id="allNews" class="active"><a href="">{% trans 'All news' %}</a></li>
                </ul>
            </div>
            <div class="row" id="news-lists">
                <ul class="article-lists">
                {% for article in article_list %}
                    <li class="row article-list">
                        <div class="col-xs-2 article-pic">
                            <a href="{{ article.get_absolute_url }}">
                            {% if article.pic %}
                                <img src="{{ article.pic.url }}" class="img-responsive" style="width: 100%;">
                            {% else %}
                                <img src="" class="img-responsive"/>
                            {% endif %}
                            </a>
                        </div>
                        <div class="col-md-10">
                            <a href="{{ article.get_absolute_url }}"><span class="article-title">{{ article.title }}</span></a>
                            <p class="article-content-overview" style="font-size: 14px; margin-top: 10px;">
                                {% autoescape off %}
                                    {{ article.summary|truncatechars_html:100 }}
                                {% endautoescape %}
                            </p>
                            <p class="article-content-overview" style="font-size: 14px;">
                                <span>{% trans 'author: ' %}{{ article.author }}</span><span style="padding-left: 30px">{% trans 'publish in: ' %}{{ article.published_time }}</span><span style="padding-left: 30px">{% trans 'views: ' %}{{ article.views }}</span></p>
                        </div>
                    </li>
                {% endfor %}
                </ul>
            </div>

            {% if is_paginated %}
            <div class="row text-center article-list-pagination">
                {% bootstrap_paginate page_obj range=10 show_first_last="true" %}
            </div>
            {% endif %}

        </div>
    </div>
{% endblock %}