{% load staticfiles %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<meta name="sessionKey" data-value="{{ request.session.session_key }}">
<meta name="avatar" data-value="{{ request.user.avatar }}">
<meta name="steamid" data-value="{{ request.user.steamid }}">
<meta name="language" data-value={{ LANGUAGE_CODE }}>
<meta name="title" content="fancsgo最公平的电竞娱乐平台-CSGO饰品翻硬币|轮盘游戏">
<meta name="description" content="fancsgo电竞娱乐平台，提供比赛预测，饰品翻硬币，幸运轮盘游戏，饰品游戏公平验证；致力于提供玩家最公平，优质的电竞饰品游戏体验。">
<meta name="keywords" content="CSGO翻硬币,CSGO轮盘,CSGO夺宝,CSGO菠菜,CSGO推单">
